.formulario {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    min-width: 775px;

   
} 
.forma{
    position:relative;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* width: 750px; */
  /*  height: 400px;   */
}

.title {
    display: flex;
    justify-content: center;
   
}

 .cardHeader img {
    position: absolute;
    /* left: -3rem;  */
    /* top: 10px; */
    /* width: 70%;
    height: 97%;  */
    width: 200px; 
    height: 620px; 
    object-fit: cover;
    /* margin:10px; */
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
} 

.fondoform {
    position: relative;
    /* background: rgba(24, 22, 22, 0.897); */
    /* background: rgba(255, 255, 255); */
    padding: 1rem 14rem;
    border-radius: 18px;
    /* margin: 6px; */
}

.buttonBack {
    background: rgb(231, 76, 60);
    padding: 10px 30px;
    /* position: absolute; */
    left: 2rem;
    top: 2rem;
    text-align: center;
    margin: 1px;
    color: rgba(255, 255, 255);
    position:relative;
    border-radius: 10px;
    
}

.buttonBack:hover{
    color: rgb(231, 76, 60);
    background: rgba(255, 255, 255);
}
.inputt {
    margin: 3px;
    padding: 5px 19px;
}

label { 
    /* color: rgb(255, 0, 0); */
    text-align: center;
    font-style: italic;
    font-weight: bold;
}


.error {
    color: rgb(255, 0, 0);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    justify-content:center;
}

.bto {
    background: rgb(95, 89, 89);
    padding: 10px 90px;
    z-index: 9999;
    cursor: pointer;
    color: white;
}

.bto:hover {
    background: rgb(184, 174, 174);
    color: black;
}
/************ caja ****************/
.cajaDieta {
    /* background-color: #47bcd4; */
    flex-direction: column;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    right: 1rem;
    top: 6rem;
    color: white;
    cursor: pointer; 
}

.tagTeal {
    background-color: #47bcd4;
}

.space {
    margin: 4px;
    border-radius: 18px;
}

.letraSpace{
    margin-right: 5px;
}

.bt {
    background: #000;
    color: white;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 3px;
}

.bt:hover{
    background: #fff; 
    color: black; 
}

.subContainer {
    width: 210px;
    display: flex;
    flex-direction: column;
}