.titlee {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.contenedor {
    /* position: absolute; */
    /* width: 70%; */
    padding: 5px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    /* justify-items: center; */

}

.content {
   width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 18px;
    /* margin: 0 auto; */

}

.contentFirst {
    background: rgb(231, 76, 60);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.contentSecond {
    /* background: rgb(240, 248, 131); */
    background: #47bcd4;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
}

.textFirst {
    margin: 1rem;
    text-align: center;
}

.sumary {
    text-align: center;
    margin: 1rem;
}


.im {
    text-align: center;
}

.img {
    display: block;
    margin: 0px auto;
    width: 600px;
    height: 400px;
}

.backButton {
    background-color: rgb(231, 76, 60);
    padding: 8px;
    /* position: absolute; */
    border-radius: 6px;
    left: 30px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.wrapper {
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}


.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    border: 1px solid gray;
    margin: 2px;
    padding: 10px;
}

.column:first-child {
    margin-left: 0;
}

.column:last-child {
    margin-right: 0;
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }

    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }

    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}