.nave ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nave{
    padding: 1rem;
}
.nave  span{
    color: rgb(245, 244, 244);
    padding: 7px;
    background: rgb(53, 50, 50, 0.6);
    margin: 2px;
    font-weight: 600;
    border:1px solid rgb(53, 50, 50);;
    cursor: pointer;
}

.nave span:hover{
    color: black;
    background-color: blanchedalmond;
}