.name {
    /* font-family: cursive; */
    margin: 20px;
    /* color: rgb(245, 237, 220);
    text-shadow: 0.1em 0.1em 0.2em black; */
} 

/* .conteiner {
    
    position:relative;
    width: 90%;
    max-width: 120rem;
    margin: 1px auto;
    background: rgba(104, 100, 100, 0.459);
    padding: 18px 18px;
    box-shadow: 3px -1px 50px -11px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 3px -1px 50px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px -1px 50px -11px rgba(0, 0, 0, 1);
} */

.conteiner:hover{
    transform: scale(1.05);
    background: rgba(104, 100, 100, 0.6);
    box-shadow: 0 0 10px rgba(104, 100, 100, 0.6), 0 0 20px rgba(104, 100, 100, 0.6), 0 0 40px rgba(104, 100, 100, 0.6);
    transition-delay: .1s;
    /* color: beige; */
}

.card {
    position:relative;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 250px;
    height: 400px;
  }

  .card:hover {
    transform: translateY(-.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
  }

  .cardHeader img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .tagTeal {
    background-color: #47bcd4;
  }

  .tagPurple {
    background-color: #5e76bf;
  }
  
  .tagPink {
    background-color: #cd5b9f;
  }
  
  .cardBody p {
    font-size: 13px;
    margin: 0 0 40px;
  }
