.formu{
    display: flex;
    justify-content: center;
    margin: .5rem;
    position: relative;
}

.formu input{
    border: none;
    outline: none;
    padding: 7px 22px;
}

.inputButton {
    background-color: #26A69A;
    color: #fff;
    cursor: pointer;
    padding: 3px;
    /* margin-top: 1rem; */
}

.inputButton:hover {
    background-color: #0f6d64;
}